<div class="container">
	<h3 class="display-2">Cadastrar anime</h3>
	<form [formGroup]="addAnimeGroup">
		<div class="mdl-textfield mdl-js-textfield" style="width: 100%;">
			<input class="mdl-textfield__input" type="text" id="nome_anime" formControlName="nome_anime">
			<label class="mdl-textfield__label" for="sample1">Nome anime...</label>
		</div>

		<div class="mdl-textfield mdl-js-textfield" style="width: 100%;">
			<textarea class="mdl-textfield__input" type="text" rows= "3" id="descricao_anime" formControlName="descricao_anime"></textarea>
			<label class="mdl-textfield__label" for="sample5">Descrição anime...</label>
  		</div>

  		<input type="file" id="imageUpload" formControlName="imageUpload" (change)="uploadFile($event)" accept="image/*">


  		<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" (click)="addAnime()">
		  Cadastrar
		</button>

	</form>
</div>