<div id="register-content">

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Register new anime</mat-card-title>
    </mat-card-header>

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Anime Title">
      </mat-form-field>

      <label class="upload"> Upload image: </label>
      <input type="file">
  
      <br/>
      <button mat-stroked-button class="btn-send"> Register anime </button>

    </form>

  </mat-card>

</div>
